*{margin: 0;padding: 0;}
.loGo{
    width: 10%;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin: 0;
    padding: 0;
}
a.nav-link {
    font-family: "Segoe UI";
    text-transform: uppercase;
    font-size: 13px;
    color: #101010;
}
li.nav-link{
    margin: 0 17px;
    padding: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-fixed-top {
    background-color: white;
}